<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, text/html">
    <meta http-equiv="Content-Type">
    <title>Time Tracker</title>
    <style type="text/css">
        html {
            width:100%;
        }
        body {
            width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            background-color: #fff;
            color: #333;
        }
        a {
            color: #111
        }

    </style>

</head>
<body>
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td><h1>Time Tracker - Invitation to {{ team.name }}</h1></td>
        </tr>
        <tr>
            <td>
                <p>You have been invitred to join {{ team.name }}</p>
                <p>Click the link below to sign up or login. Your team activation code is {{ code }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ acceptation_url }}">Accept Invitation</a>
            </td>
        </tr>
    </table>
    
</body>
</html>