{% extends 'base.html' %}

{% load dashboardextras %}

{% block title %}
Projects
{% endblock %}

{% block content %}
<div  id="projects-app">
    <nav class="breadcrumb" aria-label="breadcrumb">
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li class="is-active"><a href="{% url 'projects' %}" aria-current="page">Project</a></li>
        </ul>
    </nav>
    
    <div class="columns">
        <div class="column is-4">
            <h1 class="title">Projects</h1>

            <a @click="showProjectModal=!showProjectModal" class="button is-success">Create Project</a>
        </div>
    </div>

    <div class="columns">
        {% for project in projects %}
        <div class="column is-3">
            <div class="notification">
                <h2 class="is-size-5">{{ project.name }}</h2>
                <p class="is-size-7 mb-2">({{ project.created_by }})</p>
                <p class="is-size-7">Registered Time: {{ project.registered_time|format_minutes }} minutes</p>
                <p class="is-size-7">Tasks: {{ project.num_tasks_todo }}</p>

                <hr>

                <a href="{% url 'project' project.id %}" class="button is-success">Details</a>

            </div>
        </div>

        {% empty %}
        <div class="column is-3">
            <div class="notification">
                No projects yet...
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="modal" :class="{'is-active': showProjectModal}">
        <div class="modal-background">
            
            <form method="post" action="." @submit="validateForm">
                {% csrf_token %}
                <div class="modal-card mt-6">
                    <div class="modal-card-head">
                        <p class="modal-card-title">Create Project</p>
                    </div>
                    <div class="modal-card-body">
                        <div class="field">
                            <label>Project Name</label>
                            <div class="control">
                                <input type="text" name="name" id="id_name" v-model="name" class="input">
                            </div>
                        </div>

                        <div class="notification is-danger" v-if="showErrors">
                            Project Name Is Missing.
                        </div>
                    </div>
                    <div class="modal-card-foot">
                        <button class="button is-success">Create</button>
                        <button class="button" @click="showProjectModal=!showProjectModal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const ProjectsApp = {
        data() {
            return {
                showProjectModal: false,
                name: '',
                showErrors: false
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            validateForm(e) {
                if (this.name) {
                    return true
                }
                this.showErrors = true
                
                e.preventDefault()

                return false
            }
        }
    }

    Vue.createApp(ProjectsApp).mount('#projects-app')
</script>

{% endblock %}