{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}
{% block content %}
<section class="hero is-medium is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Welcome to Time Tracker</h1>
            <h2 class="subtitle">Works Made Simple</h2>
        </div>
    </div>
</section>

<div class="container">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <div class="columns is-align-items mt-6">
                <div class="column is-4 image">
                    <img src="{% static 'images/Gemini_Generated_Image_n6b8mvn6b8mvn6b8.jpg' %}">
                </div>
    
                <div class="column is-8 text">
                    <h2 class="subtitle">Simple The Tracking</h2>
                    <p>Time tracking made simple. Time tracking made simple. Time tracking made simple. Time tracking made simple. Time tracking made simple. Time tracking made simple. </p>
                </div>
            </div>
            <div class="columns is-align-items mt-6">

                <div class="column is-8 text">
                    <h2 class="subtitle">Simple The Tracking</h2>
                    <p>Time tracking made simple. Time tracking made simple. Time tracking made simple. Time tracking made simple. Time tracking made simple. Time tracking made simple. </p>
                </div>

                <div class="column is-4 image">
                    <img src="{% static 'images/Gemini_Generated_Image_n6b8mvn6b8mvn6b8.jpg' %}">
                </div>
            </div>
            <div class="columns is-align-items mt-6">
                <div class="column is-4 image">
                    <img src="{% static 'images/Gemini_Generated_Image_n6b8mvn6b8mvn6b8.jpg' %}">
                </div>
    
                <div class="column is-8 text">
                    <h2 class="subtitle">Simple The Tracking</h2>
                    <p>Time tracking made simple. Time tracking made simple. Time tracking made simple. Time tracking made simple. Time tracking made simple. Time tracking made simple. </p>
                </div>
            </div>
            <div class="columns is-align-items-center mt-6">
                <div class="column is-4 is-offset-4 has-text-centered">
                    <h2 class="subtitle">Let's Get Started</h2>
                    <a href="{% url 'signup' %}" class="button is-success is-large">Get A Free Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}