{% extends 'base.html' %}

{% block title %}
Accept Invitation
{% endblock %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumb">
    <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="{% url 'mypage' %}">My Page</a></li>
        <li class="is-active"><a href="{% url 'accept_invitation' %}" aria-current="page">Accept Invitation</a></li>
    </ul>
</nav>


<div class="columns">
    <div class="column is-4">
        <h1 class="title">Accept Invitaion</h1>
        <form method="post" action=".">
            {% csrf_token %}

            <div class="field">
                <label>Verification Code</label>
                <div class="control">
                    <input type="text" name="code" id="id_code" class="input">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
