{% extends 'base.html' %}

{% block title %}
My Page
{% endblock %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumb">
    <ul>
        <li class="is-active"><a href="{% url 'mypage' %}">My Page</a></li>
    </ul>
</nav>
<div class="columns">
    <div class="column is-6">
        <div class="media mb-4">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="{{ user.userprofile.get_avatar }}">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-3">{% firstof user.get_full_name user.username %}</p>
                <p class="subtitle is-6">{{ user.email }}</p>
            </div>
        </div>

        <form method="post" action="{% url 'logout' %}" class="column">
            {% csrf_token %}
            <a href="{% url 'edit_profile' %}" class="button is-info">Edit Profile</a>
            <button class="button is-danger" type="submit">Logout</button>
        </form>
        </div>
    </div>
</div>

<hr>

<div class="columns">
    <div class="column is-12">
        <a href="{% url 'create_team' %}" class="button is-success">Create Team</a>
    </div>
</div>

{% if invitations %}
<div class="notification is-info">
    <h2 class="subtitle">Pending Invitations</h2>
    {% for invitation in invitations %}
    <a href="{% url 'accept_invitation' %}">{{ invitation.team.name }}</a>
    {% endfor %}
</div>
{% endif %}

<div class="columns">
    {% if active_team %}
    <div class="column is-4">
        <div class="notification has-background-success-light">
            <h3 class="is-size-5">{{ active_team.name }}{% if active_team.created_by == request.user %}(owner){% else %}(member){% endif %}</h3>

            <h3 class="is-size-6">SHOW PLAN HERE</h3>
            
            <hr>
            
            <a href="{% url 'team_detail' active_team.id %}" class="button is-success">Details</a>
            {% if active_team.created_by == request.user %}
            <a href="{% url 'invite' %}" class="button is-info">Invite</a>
            {% endif %}
        </div>
    </div>
    {% endif %} 

    {% for team in teams %}
    <div class="column is-4">
        <div class="notification">
            <h3 class="is-size-5">{{ team.name }}{% if team.created_by == request.user %}(owner){% else %}(member){% endif %}</h3>

            <h3 class="is-size-6">SHOW PLAN HERE</h3>

            <hr>

            <a href="{% url 'team_detail' team.id %}" class="button is-success">Details</a>
            <a href="{% url 'activate_team' team.id %}" class="button is-info">Activate</a>
        </div>
    </div>
{% endfor %}
</div>



{% endblock %}


